diff --git a/does_config/group_vars/all/main.yml b/does_config/group_vars/all/main.yml
index 8866436..973e397 100644
--- a/does_config/group_vars/all/main.yml
+++ b/does_config/group_vars/all/main.yml
@@ -9,8 +9,8 @@ git_remote_repository: git@github.com:pps-lab/cryptographic-auditing-mpc.git # T
 # Each experiments runs for at most #jobs * 'job_n_tries' * 'job_check_wait_time' seconds (usually less when the experiment finishes earlier).
 # The experiments are mostly run concurrently (apart from the setup and cleanup parts). Thus, the experiment with the most jobs defines the
 # maximal duration. But as experiments usually use fewer than 'job_n_tries' tries, an experiment with few long-running jobs can be the bottleneck too.
-job_n_tries: 300   # should be max 1000 (otherwise playbook freezes -> unsure why)
-job_check_wait_time: 10
+job_n_tries: 500   # should be max 1000 (otherwise playbook freezes -> unsure why)
+job_check_wait_time: 30
 
 remote:
   dir: "/home/ubuntu"
@@ -23,7 +23,7 @@ local:
   designs_dir: "{{'{{ does_config_dir }}'}}/designs"
 
 exp_base:
-  key_name: alexmandt-aws-keys-1 # TODO: add key pair name
+  key_name: {{controller_aws_key_pair_name}} # TODO: add key pair name
   aws_region: eu-central-1
   name: frankfurt
   vpc_name: "{{'{{ prj_id }}'}}_vpc_base"
